/* Estilos CSS */
:root {
  --primary-color: #b874e3;
  --secondary-color: #7199ab;
  --text-color: #333;
  --bg-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  background: linear-gradient(135deg, #b8d7e5, #d29bf4);
  color: #fff;
  padding: 150px 0 100px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease;
}

.hero p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: #666;
  animation: fadeInUp 1s ease 0.2s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.btn {
  display: inline-block;
  background-color: #fff;
  color: #b874e3;
  font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  animation: fadeInUp 1s ease 0.4s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

section {
  padding: 80px 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70vmax;
}

.about-text {
  flex: 1;
  padding-right: 40px;
}

.about-image {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  max-width: 15rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.specialties {
  background-color: #fff;
}

.specialty-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.specialty-item {
  background-color: var(--bg-color);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease;
}

.specialty-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.specialty-icon {
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.projects {
  background-color: var(--bg-color);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.project-item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.project-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.project-info {
  padding: 20px;
}

.project-info h3 {
  margin-bottom: 10px;
  color: var(--primary-color);
}

/* Blog Section */
.posts2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.post2 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post2:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.post2 h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 20px 20px 10px;
}

.post2 h3 a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.post2 h3 a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.post2 a:hover {
  text-decoration: none;
}

.post2 p {
  font-size: 1rem;
  color: #666;
  padding: 0 20px;
  margin-bottom: 20px;
}

.read-more {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  margin: 0 20px 20px;
}

.read-more:hover {
  background-color: var(--secondary-color);
  text-decoration: none;
}

.contact {
  font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  background-color:var(--bg-color);
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 0px 0;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .nav-links {
      display: none;
  }

  .about-content {
      flex-direction: column;
  }

  .about-text {
      padding-right: 0;
      margin-bottom: 40px;
  }

  .posts {
    grid-template-columns: 1fr;
  }
}