.nav {
  position: sticky; /* Faz com que a barra fique fixa no topo */
  top: 0; /* Define o ponto de sticky no topo */
  z-index: 10; /* Garante que a navegação esteja acima de outros elementos */
  background-color: rgb(255, 255, 255); /* Define um fundo sólido para a barra */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra abaixo da navegação */
  overflow: auto;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    opacity: .6;

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    color: $default-color;
    font-family: $sans-serif;
    padding: 0.5rem 1rem; /* Padding vertical e horizontal */
    display: inline-block; /* Garante que o padding seja aplicado corretamente */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 4px; /* (Opcional) Bordas arredondadas para destaque */
  }

  a:hover,
  a:focus {
    background-color: rgba(0, 0, 0, 0.05); /* Adiciona um leve fundo ao passar o mouse */
  }
}

@media (min-width: 600px) {
  .nav {
    &-container {
      text-align: left;
    }

    ul {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}

