/* Estilos CSS */
:root {
  --primary-color: #b874e3;
  --secondary-color: #7199ab;
  --text-color: #333;
  --bg-color: #f9f9f9;
}
/* Estilos para a página de listagem de posts (portfólio) */
.blog {
  display: flex;
  flex-direction: column; /* Alinha os itens em coluna */
  align-items: center; /* Centraliza os itens no eixo horizontal */
  gap: 30px;
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.blog-item {
  font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  background-color: #fff; /* Fundo mais claro e neutro */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombras mais leves */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: #666; /* Cor do texto mais neutra */
  display: block;
  padding: 5px 20px;
  width: 70%; /* Torna a caixa comprida */
  max-width: 1200px;
}

.blog-item:hover {
  transform: translateY(-3px); /* Reduz a elevação ao passar o mouse */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.blog-title {
  font-size: 1.5rem;
  color:var(--primary-color); /* Substituir por um tom de cinza */
  margin-bottom: 10px;
}

.blog-title:hover{
  color:var(--secondary-color); /* Substituir por um tom de cinza */
}

.blog-line {
  height: 2px;
  background-color: #ddd; /* Linha mais suave */
  margin-bottom: 15px;
}

.blog-content {
  font-size: 0.9rem;
  color: #666; /* Texto mais claro */
}

.blog-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.blog-icon i {
  color: #666; /* Ícones em um cinza médio */
  margin-right: 10px;
  font-size: 1.2rem;
}

.blog-icon-text {
  color: #666;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9; /* Fundo neutro */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pagination a {
  padding: 10px 20px;
  background-color: #ddd; /* Botões menos vibrantes */
  color: #333; /* Texto do botão em cinza escuro */
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: #bbb; /* Tom levemente mais escuro ao passar o mouse */
}

.pagination span {
  font-weight: bold;
  color: #555; /* Texto neutro */
}

/* Responsividade */
@media (max-width: 768px) {
  .blog-item {
    width: 95%; /* Ocupa quase toda a largura da tela */
  }

  .pagination {
    flex-direction: column;
    gap: 10px;
  }

  .pagination a {
    width: 100%;
    text-align: center;
  }
}
