/* Estilos CSS */
:root {
  --primary-color: #b874e3;
  --secondary-color: #7199ab;
  --text-color: #333;
  --bg-color: #f9f9f9;
}



/* Estilos para a página de listagem de posts (portfólio) */
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  flex: 1;
}

.blog-item {
  font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: #666;
  display: block;
  padding: 5px 20px;
  width: 70%;
  max-width: 1200px;
}

.blog-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}

.blog-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.blog-title:hover {
  color: var(--secondary-color);
}

.blog-line {
  height: 2px;
  background-color: #ddd;
  margin-bottom: 15px;
}

.blog-content {
  font-size: 0.9rem;
  color: #666;
}

.blog-icon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.blog-icon i {
  color: #666;
  margin-right: 10px;
  font-size: 1.2rem;
}

.blog-icon-text {
  color: #666;
  font-weight:lighter;
  font-style: italic;
}

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px;
  background-color: #f9f9f9;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 100%;
}

.pagination a {
  padding: 10px 10px;
  background-color: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  min-width: 100px;
  text-align: center;
}

.pagination a:hover {
  background-color: var(--primary-color);
}

.pagination span {
  font-weight: bold;
  color: var(--primary-color);
  flex: 1;
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .blog-item,{
    width: 95%;
  }

  .pagination {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .pagination a {
    width: 100%;
    min-width: unset;
  }

  .pagination span {
    order: -1;
  }
}