.post {
  max-width: 800px; /* Define a largura máxima do conteúdo principal */
  margin: 50px auto; /* Centraliza horizontalmente e adiciona espaço vertical */
  padding: 3rem 1rem;

  &-info {
    color: $default-tint;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    font-family: $sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0;
    text-align: center;
    padding-bottom: 1rem;
    color: $default-shade;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
    line-height: 1.6;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* Estilo da imagem do header do post */
.post-header-image {
  width: 100%; /* A imagem ocupa toda a largura do container principal */
  max-width: 800px; /* Define a largura máxima */
  height: 300px; /* Define uma altura fixa para garantir o formato retangular */
  margin: 0 auto 2rem; /* Centraliza horizontalmente e adiciona espaço abaixo */
  display: block;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* (Opcional) Adiciona sombra para destaque */
}

/* Responsividade */
@media (max-width: 768px) {
  .post {
    padding: 2rem 1rem;
  }

  .post-title {
    font-size: 2rem;
  }

  .post-header-image {
    width: 100%; /* Ocupa toda a largura em dispositivos menores */
    height: 250px; /* Altura reduzida para telas menores */
  }
}
