<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">

  {% include head.html %}

  <body>
    {% include language-switcher.html %}

    <nav class="nav">
      <div class="nav-container">
        {% assign current_lang = page.lang | default: site.default_lang %}
        <a href="{{ '/' | append: current_lang | append: '/' | prepend: site.baseurl }}">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <ul>
          {% for item in site.data.navigation[current_lang] %}
            <li><a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <div class="social-layer">
        <div class="social-icons">
          <p>&copy; {{ site.time | date: '%Y' }} - {{ site.author.name }}. {{ site.data.translations.footer.rights[current_lang] }}</p>
          <ul>
            {% include icons.html %}
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
